.example-sum {
  width: 0 auto;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.result {
  font-size: 3rem;
}

input {
  height: 100px;
  width: 150px;
  text-align: center;
  margin-left: 20px;
  font-size: 3rem;
}

.btn {
  background-color: #1f53e5;
  margin-top: 20px;
  width: 200px;
  border-top-left-radius: 25px 25px;
  border-top-right-radius: 50px 50px;
  border-bottom-right-radius: 25px 25px;
  border-bottom-left-radius: 50px 50px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3f6ce7;
}
